{% extends 'base.html' %}



{%block title %} Blocks List {%endblock%}

{%block main%}
    <div class="row">
        <div class="col-md">
            {% if user.is_authenticated %}
                <p>Ola {{ user.username }} <a href="{% url 'log_out' %}" class="btn btn-danger">Logout</a> </p>
                
                <p></p>
                <a href="{% url 'block_create' %}" >Create New Block</a>
            {% endif %}
        </div>
        <div class="col-6">
            <ul class="list-group list-group-flush">
                {% for b in blocks %}
                    <li class="list-group-item">
                        <h3>Index: {{b.index}}</h3>
                        <h4>Transaction: {{b.current_transactions}}</h4>
                        <p>Hash: {{b.hash}}</p>                    
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md">
            
            </div>
        </div>
    </div>

    


    


{%endblock%}

